{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="It me." height=200px width=200px >
        </div>
        <h3>I'm <strong>{{ .Site.Params.author }}</strong>, an aspiring Biology teacher.</h3>
        <h3>I love all things science, education, and sports (especially basketball!).</h3>
        <h3>Here are some <a href="{{ .Site.BaseURL }}projects/"> projects</a> that I have worked on.</h3>
        <h3>For more, check out my academic &amp; professional <a href="resume.pdf" target="_blank">resume</a>.</h3>
        <h3>Contact me at <a href="http://twitter.com/{{ .Site.Params.Social.Twitter }}">@{{ .Site.Params.Social.Twitter }}</a> or by <a href="mailto:{{ .Site.Params.Social.Email }}">email</a>.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
